# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
ENV/

# Database (Sensitive Data)
*.db
*.sqlite3

# Distribution / Build
dist/
build/


# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Executables
SafeVault.ico
rebuild.bat
